<app-bread-crumb [items]="[{text: 'categories', link: '/categories'}]"></app-bread-crumb>
<app-page-header 
  [page-title]="'Categorias'"
  [button-class]="'btn btn-success'"
  [button-text]="'+ Nova Categoria'"
  [button-link]="'new'"
></app-page-header>

<div class="table-responsive">
    <table class="table table-striped align-middle" aria-describedby="category table">
        <thead class="table-primary">
            <tr class="text-light">
                <th class="" scope="col">Categorias</th>
                <th class="" scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let category of resources">
                <td>
                    <strong>{{category.name}}</strong><br>
                    <small>{{category.description}}</small>
                </td>
                <td>
                    <button 
                        class="btn  btn-outline-info btn-sm me-2"
                        [routerLink]="[category.id, 'edit']"
                    >
                        editar
                    </button>
                    <button 
                        class="btn btn-outline-danger btn-sm"
                        (click)="deleteResource(category.id)"
                    >
                        remover
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>