<app-bread-crumb [items]="[{text: 'categories', link: '/categories'}, {text: pageTitle}]"></app-bread-crumb>
<app-page-header 
  [page-title]="pageTitle"
  [button-class]="'btn btn-success'"
  [button-text]="'<< Voltar'"
  [button-link]="'/categories'"
></app-page-header>
<form [formGroup]="resourceForm" (submit)="submitForm()">
  <div class="card">
    <div class="card-header">Informações sobre a categoria</div>

    <div class="card-body">
      <div class="row">
        <div class="form-group col-md-4">
          <label for="name" class="form-label">Nome:</label>
          <input
            type="text"
            class="form-control"
            id="name"
            formControlName="name"
          />
          <div
            class="text-danger"
            *ngIf="
              resourceForm.get('name')?.invalid &&
              resourceForm.get('name')?.touched
            "
          >
            <div *ngIf="resourceForm.get('name')?.errors?.['required']">
              <small>Dado obrigatório!{{resourceForm.get('name')?.errors?.['minLength']}}</small>
            </div>
            <div *ngIf="resourceForm.get('name')?.errors?.['minLength']">
              <small>Deve ter no min 2 caracteres</small>
            </div>
          </div>
        </div>
        

        <div class="form-group col-md-8">
          <label for="description" class="form-label">Descrição:</label>
          <input
            type="text"
            class="form-control"
            id="description"
            formControlName="description"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="alert alert-danger mt-4" *ngIf="serverErrorMessage.length > 0">
    <strong>Erro no servidor:</strong>
    <ul>
      <li *ngFor="let error of serverErrorMessage">{{error}}</li>
    </ul>
  </div>

  <button
    type="submit"
    class="btn btn-primary btn-md float-end mt-3"
    [disabled]="submittingForm || resourceForm.invalid"
  >
    Salvar
  </button>
</form>
